@if (_first)
{
    <MudDialog>
        <DialogContent>
            <MudForm @ref="_form">
                <MudTextField T="string" @bind-Value="@TempName" Immediate="true" Label=@L["Question Name EN"] Required="true" RequiredError=@L["Question name is required!"] />
                <MudTextField T="string" @bind-Value="@TempDescription" Immediate="true" Label=@L["Question Description EN"] Lines="5" />
                <MudTextField T="string" @bind-Value="@TempNamePl" Immediate="true" Label=@L["Question Name PL"] Required="true" RequiredError=@L["Question name is required!"] />
                <MudTextField T="string" @bind-Value="@TempDescriptionPl" Immediate="true" Label=@L["Question Description PL"] Lines="5" />
            </MudForm>
        </DialogContent>
        <DialogActions>
            @if(DeleteEnabled){
            <MudButton Size="Size.Small" Color="Color.Error" Variant="Variant.Outlined" OnClick="@ToggleOpen">@L["Delete"]</MudButton>
            }
            <MudButton Size="Size.Small" Color="Color.Info" Variant="Variant.Outlined" OnClick="@(()=>CanLevel(Q))">@L["Levels"]</MudButton>
            <MudButton Size="Size.Small" Color="Color.Warning" Variant="Variant.Outlined" OnClick="Cancel">@L["Cancel"]</MudButton>
            <MudButton Variant="Variant.Outlined" StartIcon="@Icons.Outlined.Save" Color="Color.Success" Size="Size.Small" OnClick="SaveAndClose">@L["Save"]</MudButton>
        </DialogActions>
    </MudDialog>

    <MudPopover Open="@_isOpen" Fixed="true" Class="px-4 pt-4">
    <div class="d-flex flex-column">
            @if (ShareResource.IsEn())
            {
        <MudText>@($"Removing Question {Q.QuestionName} will also remove all answers.\nAre you sure?")</MudText>
            }
            else
            {
                <MudText>@($"Usunięcie pytania {Q.QuestionNamePl} usunie także odpowiedzi.\nUsunąć?")</MudText>
            }
        <MudButton Size="Size.Small" Color="Color.Error" Variant="Variant.Outlined" OnClick="@(()=>Delete(Q))">@L["Delete"]</MudButton>
        <MudButton OnClick="@ToggleOpen" Class="ml-auto mr-n3 mb-1" Color="Color.Warning">Close</MudButton>
    </div>
</MudPopover>
}

@if (!_first)
{
    <MudDialog>
        <DialogContent>
             @if (ShareResource.IsEn())
                    {
            <MudText Typo="Typo.h6">@Q.CategoryName: @Q.QuestionName</MudText>
                    
                    }else
                    {
                         <MudText Typo="Typo.h6">@Q.CategoryNamePl: @Q.QuestionNamePl</MudText>
                    }

            <MudTabs Outlined="true"
                 Position="Position.Top"
                 Rounded="true"
                 Border="true"
                 ApplyEffectsToContainer="true"
                 PanelClass="pa-6 d-block">
                @foreach (var option in _answerOptions)
                {
                    if (ShareResource.IsEn())
                    {


                        <MudTabPanel OnClick="@(()=>SetOption(option))" Text="@option.Level.ToString()">

                        <MudItem>
                            <MudText Typo="Typo.subtitle1">@L["Level"] @option.Level.ToString()</MudText>
                            <MudText Typo="Typo.subtitle2"
                             @bind-Value="@option.Description">@option.Description</MudText>
                        </MudItem>
                        </MudTabPanel>
                    }
                    else
                    {
                        <MudTabPanel OnClick="@(()=>SetOption(option))" Text="@option.Level.ToString()">

                        <MudItem>
                            <MudText Typo="Typo.subtitle1">@L["Level"] @option.Level.ToString()</MudText>
                            <MudText Typo="Typo.subtitle2"
                             @bind-Value="@option.DescriptionPl">@option.DescriptionPl</MudText>
                        </MudItem>
                        </MudTabPanel>
                    }
                }
            </MudTabs>
        </DialogContent>
          <DialogActions>
               @if (!TempIsActive)
            {
                <MudButton  @onclick="@(()=>ChangeActiveState(Q))">@L["Activate question"]</MudButton>
            }
              <MudButton Color="Color.Primary" Variant="Variant.Outlined" Size="Size.Small" OnClick="@(() => EditLevelDialog(_tempOption))">@L["Edit Level"]</MudButton>
               <MudButton Size="Size.Small" Variant="Variant.Outlined" OnClick="@(()=>ChangePage())">@L["Go Back To Question"]</MudButton>
               <MudButton Size="Size.Small" Color="Color.Warning" Variant="Variant.Outlined" OnClick="Cancel">@L["Cancel"]</MudButton>
          </DialogActions>
    </MudDialog>

    <style>
        .mud-tab {
            min-width: 50px !important;
        }
    </style>
}