<MudTabs Elevation="1" Rounded="true" @ref="tabs">
    <MudTabPanel Text="Selection Page"></MudTabPanel>
    <MudTabPanel Text="Question 1 ">
        <MudGrid>
            <MudItem xs="14" md="6">
                <MudTextField T="string" Label="What is important to me at work" Variant="Variant.Outlined" Counter="150" MaxLength="150" Immediate="true" Validation="@(new Func<string, IEnumerable<string>>(MaxCharacters))" Lines="3" />
                <MudButton Variant="Variant.Filled" EndIcon="@Icons.Material.Filled.Send" Color="Color.Primary">Send</MudButton>
            </MudItem>
                <MudItem xs="12" md="6">
                    <MudTextField T="string" Label="What is important to me at work" Variant="Variant.Outlined"  Counter="150" MaxLength="150" Immediate="true" Validation="@(new Func<string, IEnumerable<string>>(MaxCharacters))" Lines="3"  />
                    <MudButton Variant="Variant.Filled" EndIcon="@Icons.Material.Filled.Send" Color="Color.Primary">Send</MudButton>
                </MudItem>
            <MudItem xs="14" md="6">
                <MudTextField T="string" Label="What is important to me at work" Variant="Variant.Outlined" Counter="150" MaxLength="150" Immediate="true" Validation="@(new Func<string, IEnumerable<string>>(MaxCharacters))" Lines="3" />
                <MudButton Variant="Variant.Filled" EndIcon="@Icons.Material.Filled.Send" Color="Color.Primary">Send</MudButton>
            </MudItem>
        </MudGrid>
    </MudTabPanel>
    <MudTabPanel Text="Question 2">
        <MudGrid>
            <MudItem xs="14" md="6">
                <MudTextField T="string" Label="What is important for me" Variant="Variant.Outlined" Counter="150" MaxLength="150" Immediate="true" Validation="@(new Func<string, IEnumerable<string>>(MaxCharacters))" Lines="3" />
                <MudButton Variant="Variant.Filled" EndIcon="@Icons.Material.Filled.Send" Color="Color.Primary">Send</MudButton>
            </MudItem>
            <MudItem xs="12" md="6">
                <MudTextField T="string" Label="What is important for me" Variant="Variant.Outlined" Counter="150" MaxLength="150" Immediate="true" Validation="@(new Func<string, IEnumerable<string>>(MaxCharacters))" Lines="3" />
                <MudButton Variant="Variant.Filled" EndIcon="@Icons.Material.Filled.Send" Color="Color.Primary">Send</MudButton>
            </MudItem>
            <MudItem xs="14" md="6">
                <MudTextField T="string" Label="What is important for me" Variant="Variant.Outlined" Counter="150" MaxLength="150" Immediate="true" Validation="@(new Func<string, IEnumerable<string>>(MaxCharacters))" Lines="3" />
                <MudButton Variant="Variant.Filled" EndIcon="@Icons.Material.Filled.Send" Color="Color.Primary">Send</MudButton>
            </MudItem>
        </MudGrid>
    </MudTabPanel>
    <MudTabPanel Text="Question 3">
        <MudGrid>
            <MudItem xs="14" md="6">
                <MudTextField T="string" Label="What are my goals" Variant="Variant.Outlined" Counter="150" MaxLength="150" Immediate="true" Validation="@(new Func<string, IEnumerable<string>>(MaxCharacters))" Lines="3" />
                <MudButton Variant="Variant.Filled" EndIcon="@Icons.Material.Filled.Send" Color="Color.Primary">Send</MudButton>
            </MudItem>
            <MudItem xs="12" md="6">
                <MudTextField T="string" Label="What are my goals" Variant="Variant.Outlined" Counter="150" MaxLength="150" Immediate="true" Validation="@(new Func<string, IEnumerable<string>>(MaxCharacters))" Lines="3" />
                <MudButton Variant="Variant.Filled" EndIcon="@Icons.Material.Filled.Send" Color="Color.Primary">Send</MudButton>
            </MudItem>
            <MudItem xs="14" md="6">
                <MudTextField T="string" Label="What are my goals" Variant="Variant.Outlined" Counter="150" MaxLength="150" Immediate="true" Validation="@(new Func<string, IEnumerable<string>>(MaxCharacters))" Lines="3" />
                <MudButton Variant="Variant.Filled" EndIcon="@Icons.Material.Filled.Send" Color="Color.Primary">Send</MudButton>
            </MudItem>
        </MudGrid>
    </MudTabPanel>
    <MudTabPanel Text="Question 4">
        <MudGrid>
            <MudItem xs="14" md="6">
                <MudTextField T="string" Label="My other skills" Variant="Variant.Outlined" Counter="150" MaxLength="150" Immediate="true" Validation="@(new Func<string, IEnumerable<string>>(MaxCharacters))" Lines="3" />
                <MudButton Variant="Variant.Filled" EndIcon="@Icons.Material.Filled.Send" Color="Color.Primary">Send</MudButton>
            </MudItem>
            <MudItem xs="12" md="6">
                <MudTextField T="string" Label="My other skills" Variant="Variant.Outlined" Counter="150" MaxLength="150" Immediate="true" Validation="@(new Func<string, IEnumerable<string>>(MaxCharacters))" Lines="3"  />
                <MudButton Variant="Variant.Filled" EndIcon="@Icons.Material.Filled.Send" Color="Color.Primary">Send</MudButton>
            </MudItem>
            <MudItem xs="14" md="6">
                <MudTextField T="string" Label="My other skills" Variant="Variant.Outlined" Counter="150" MaxLength="150" Immediate="true" Validation="@(new Func<string, IEnumerable<string>>(MaxCharacters))" Lines="3"  />
                <MudButton Variant="Variant.Filled" EndIcon="@Icons.Material.Filled.Send" Color="Color.Primary">Send</MudButton>
            </MudItem>
        </MudGrid>
    </MudTabPanel>
    <MudTabPanel Text="Question 5">
        <MudGrid>
            <MudItem xs="14" md="6">
                <MudTextField T="string" Label="My hobbies" Variant="Variant.Outlined" Counter="150" MaxLength="150" Immediate="true" Validation="@(new Func<string, IEnumerable<string>>(MaxCharacters))" Lines="3" />
                <MudButton Variant="Variant.Filled" EndIcon="@Icons.Material.Filled.Send" Color="Color.Primary">Send</MudButton>
            </MudItem>
            <MudItem xs="12" md="6">
                <MudTextField T="string" Label="My hobbies" Variant="Variant.Outlined" Counter="150" MaxLength="150" Immediate="true" Validation="@(new Func<string, IEnumerable<string>>(MaxCharacters))" Lines="3"  />
                <MudButton Variant="Variant.Filled" EndIcon="@Icons.Material.Filled.Send" Color="Color.Primary">Send</MudButton>
            </MudItem>
            <MudItem xs="14" md="6">
                <MudTextField T="string" Label="My hobbies" Variant="Variant.Outlined" Counter="150" MaxLength="150" Immediate="true" Validation="@(new Func<string, IEnumerable<string>>(MaxCharacters))" Lines="3"  />
                <MudButton Variant="Variant.Filled" EndIcon="@Icons.Material.Filled.Send" Color="Color.Primary">Send</MudButton>
            </MudItem>
        </MudGrid>
    </MudTabPanel>
</MudTabs>


<MudText GutterBottom="true" Align="Align.Center" Class="mt-8"><b>Choose the question you want to answer</b></MudText>
<div class="d-flex justify-center">
    <MudButton Variant="@Variant.Filled" Color="Color.Primary" OnClick="() => Activate(0)">Selection page</MudButton>
    <MudButton Variant="@Variant.Filled" Color="Color.Primary" OnClick="() => Activate(1)">What is important to me at work</MudButton>
    <MudButton Variant="@Variant.Filled" Color="Color.Primary" OnClick="() => Activate(2)">What is important for me</MudButton>

</div>
<div class="d-flex justify-center">
    <MudButton Variant="@Variant.Filled" Color="Color.Primary" OnClick="() => Activate(3)">What are my goals</MudButton>
    <MudButton Variant="@Variant.Filled" Color="Color.Primary" OnClick="() => Activate(4)">My other skills</MudButton>
    <MudButton Variant="@Variant.Filled" Color="Color.Primary" OnClick="() => Activate(5)">My hobbies</MudButton>
    </div>

    @code
{
        MudTabs tabs;

        void Activate(int index)
        {
            tabs.ActivatePanel(index);
        }


        private IEnumerable<string> MaxCharacters(string ch)
        {
            if (!string.IsNullOrEmpty(ch) && 150 < ch?.Length)
                yield return "Max 100 characters";
        }
    }




