<MudDialogProvider FullWidth="true"
                   CloseButton="true"
                   DisableBackdropClick="true"
                   NoHeader="false"
                   Position="DialogPosition.Center" />
<MudSnackbarProvider />
<MudThemeProvider Theme="currentTheme" @bind-IsDarkMode="@isDarkTheme"/>
<MudLayout>
    <CascadingAuthenticationState>
        <AuthorizeView>
            <Authorized>
                <MudAppBar Elevation="4">
                    <MudHidden Breakpoint="Breakpoint.MdAndUp">
                        <MudIconButton Icon="@Icons.Material.Outlined.Menu" Color="Color.Inherit" Edge="Edge.Start" OnClick="@((e) => DrawerToggle())" />
                    </MudHidden>
                    <MudHidden Breakpoint="Breakpoint.Xs">
                        @if (isDarkTheme)
                        {
                        <div><img src='../../images/logo-dark.svg' alt='Profile Match' /></div>
                        }else{
                            <div><img src='../../images/logo-light.svg' alt='Profile Match' /></div>
                        }
                    </MudHidden>
                    <MudHidden Breakpoint="Breakpoint.Xs" Invert="true">
                        @if (isDarkTheme)
                        {
                        <div><img src='../../images/logo-dark.svg' alt='logo' /></div>
                        }else{
                            <div><img src='../../images/logo-light.svg' alt='logo' /></div>
                        }
                    </MudHidden>
                    <MudSpacer />
                    <CultureSelector />
                   @if (isDarkTheme)
                        {
                            <MudIconButton Class="darkSwitch" OnClick="@(()=>ChangeTheme())" Icon="@Icons.Outlined.LightMode" Style="@($"color:{Colors.Amber.Darken1};")"/>
                        }
                        else
                        {
                             <MudIconButton Class="darkSwitch" OnClick="@(()=>ChangeTheme())" Icon="@Icons.Outlined.Nightlight" Color="Color.Inherit"/>
                        }
                    <MudMenu Direction="Direction.Left" OffsetX="true" Dense="true" Class="mt-1 ml-4">
                        <ActivatorContent>
                            <MudAvatar Image="@CurrentUser?.PhotoPath" />
                        </ActivatorContent>
                        <ChildContent>
                            <CascadingValue Value="CurrentUser">
                                <UserCard Class="mt-n2" />
                            </CascadingValue>
                            <MudDivider Class="mb-2" />
                            <MudListItem Text=@L["Account"] Icon="@Icons.Material.Outlined.Person" Href="/user/dashboard" />

                            <MudListItem Text=@L["Logout"] Icon="@Icons.Material.Outlined.Login">
                                <form method="post" action="Identity/Account/LogOut">
                                    <button type="submit">@L["Log out"]</button>
                                </form>
                            </MudListItem>
                        </ChildContent>
                    </MudMenu>
                </MudAppBar>
                <MudDrawer @bind-Open="@_drawerOpen" Variant="@DrawerVariant.Responsive" ClipMode="DrawerClipMode.Always">
                    <CascadingValue Value="CurrentUser">
                        <NavMenu />
                    </CascadingValue>
                </MudDrawer>
                <MudMainContent>
                    <MudHidden Breakpoint="Breakpoint.SmAndDown">
                        <MudToolBar DisableGutters="true">
                            <MudIconButton Icon="@Icons.Material.Outlined.Menu" Color="Color.Inherit" OnClick="@((e) => DrawerToggle())" Class="ml-3" />
                            <MudSpacer />
                            @if (NavigationManager.Uri.Contains("/user/")&&!NavigationManager.Uri.Contains("/user/dashboard"))
                            {
                                <MudFab Color="Color.Primary" Icon="@Icons.Filled.ArrowBackIosNew" OnClick="GoBack" />
                            }
                        </MudToolBar>
                    </MudHidden>
                    <CascadingValue Value="CurrentUser" Name="CurrentUser">
                        @Body
                    </CascadingValue>
                </MudMainContent>
            </Authorized>
           <NotAuthorized>
               <NoContent/>
           </NotAuthorized>
        </AuthorizeView>
    </CascadingAuthenticationState>
</MudLayout>