@if (EditedUser == null || Departments == null)
{
    <p>@L["loading"]</p>
}
else
{

    <MudDialog>
        <DialogContent>
            <MudForm @ref="Form">
                @if (created)
                {
                    <MudAvatar Image="@EditedUser?.PhotoPath">
                    </MudAvatar>
                    <InputFile OnChange="@OnChange" @ref="inputFile" accept=".jpg, .jpeg, .png" />
                }
                <MudSelect @bind-Value="@EditedUser.DepartmentId"
                           T="int"
                           OffsetY="true"
                           CloseIcon="@Icons.Material.Filled.LocationCity"
                           HelperText=@L["Select Department"]
                           AdornmentColor="Color.Tertiary">
                    @foreach (var dept in Departments)
                    {
                        <MudSelectItem Value="@(dept.Id)">@L[dept.Name]</MudSelectItem>
                    }
                </MudSelect>

                <MudSwitch @bind-Checked="@EditedUser.IsActive"
                           T="bool"
                           Label=@L["Is Active?"]
                           Color="Color.Success" />
                <MudTextField T="string" @bind-Value="@EditedUser.FirstName" Immediate="true" Label=@L["First Name"]
                              Required="true" RequiredError=@L["Person name is required!"] />
                <MudTextField T="string" @bind-Value="@EditedUser.LastName" Immediate="true" Label=@L["Last Name"] Required="true" RequiredError=@L["Person name is required!"] />
                <MudTextField T="string" Label=@L["Email"] @bind-Value="@EditedUser.Email" Required="true" RequiredError=@L["Email is required!"] />
                
                <MudSelect Required="true" T="Gender?" Label=@L["Select Gender"] @bind-Value="@EditedUser.Gender"
                           OffsetY="true" RequiredError=@L["Gender is required!"]
                           CloseIcon="@Icons.Material.Filled.LocationCity"
                           HelperText=@L["Select Gender"]
                           AdornmentColor="Color.Tertiary">
                    @foreach (Gender? g in Enum.GetValues(typeof(Gender)))
                    {
                        <MudSelectItem Value="@g">@L[g.ToString()]</MudSelectItem>
                    }
                </MudSelect>
                <MudDatePicker @bind-Date="@_dob"
                               Required="true"
                               Rounded="true"
                               Elevation="1"
                               RequiredError=@L["BirthDate is Required"]
                               Label=@L["Select Date of Birth"]
                               Editable="false" />
                @if (canChangeRoles)
                {
                    <MudTable Items="@UserRoles">
                        <HeaderContent>
                            <MudTh>@L["Role Name"]</MudTh>
                            <MudTh>@L["Assigned"]</MudTh>
                        </HeaderContent>
                        <RowTemplate>
                            <MudTd DataLabel=@L["Role Name"]>@L[context.RoleName]</MudTd>
                            <MudTd DataLabel=@L["Assigned"]>
                                <MudCheckBox @bind-Checked="@context.IsSelected"/></MudTd>
                        </RowTemplate>
                    </MudTable>
                }
            </MudForm>
          
        </DialogContent>
          <DialogActions>
            <MudButton Size="Size.Small" Style="color: var(--mud-palette-warning)!important; border-color: var(--mud-palette-warning)" Variant="Variant.Outlined" OnClick="Cancel">@L["Cancel"]</MudButton> 
            <MudButton OnClick="@HandleSave" Variant="Variant.Outlined" StartIcon="@Icons.Material.Filled.Save" Color="Color.Success"  Size="Size.Small">@L["Save"]</MudButton>
            </DialogActions>
    </MudDialog>
}
@code{
    private InputFile inputFile;
}