
<MudDialog>
    <DialogContent>
        <MudForm @ref="Form">
            <MudTextField T="string" @bind-Value="@TempName" Label=@L["Certificate Name"] Required="true" RequiredError=@L["Certificate name is required!"] Counter="20"        MaxLength="20" HelperText=@L["Max length"]  Immediate="true" Validation="@(new Func<string, IEnumerable<string>>(MaxCharacters))"/>
            <MudTextField T="string" @bind-Value="@TempDescription" Label=@L["Certificate Description EN"] Required="true" RequiredError=@L["Certificate description is required!"] Counter="20"        MaxLength="20" HelperText=@L["Max length"]  Immediate="true" Validation="@(new Func<string, IEnumerable<string>>(MaxCharacters))"/>
                          <MudTextField T="string" @bind-Value="@TempDescriptionPl" Label=@L["Certificate Description PL"] Required="true" RequiredError=@L["Certificate description is required!"] Counter="20"        MaxLength="20" HelperText=@L["Max length"]  Immediate="true" Validation="@(new Func<string, IEnumerable<string>>(MaxCharacters))"/>
<MudDatePicker Label=@L["Date of Issue"] @bind-Date="TempDate" DateFormat="dd/MM/yyyy" />
<MudDatePicker Label=@L["Date Valid To"] @bind-Date="TempValidTo" DateFormat="dd/MM/yyyy" />
            <InputFile id="fileInput" OnChange="UploadImage" hidden />
            <MudButton HtmlTag="label" Variant="Variant.Outlined"
                    Color="Color.Primary"
                    StartIcon="@Icons.Filled.AttachFile" 
                    for="fileInput">@L["Upload Image"]</MudButton>
        </MudForm>
    </DialogContent>
    <DialogActions>
        @if (OpenCertificate==null||OpenCertificate.Id > 0)
        {
        <MudButton Variant="Variant.Outlined" Size="Size.Small" Color="Color.Error" OnClick="@ToggleOpen">@L["Delete"]</MudButton>
        }
        <MudButton Variant="Variant.Outlined" Size="Size.Small" Color="Color.Warning" OnClick="Cancel">@L["Cancel"]</MudButton>
        <MudButton Variant="Variant.Outlined" Size="Size.Small" StartIcon="@Icons.Material.Filled.Save" Color="Color.Success" OnClick="HandleSave">@L["Save"]</MudButton>
    </DialogActions>
</MudDialog>

<MudPopover Open="@_isOpen" Fixed="true" Class="px-4 pt-4">
    <div class="d-flex flex-column">
            @if (ShareResource.IsEn())
            {
        <MudText>@($"\nAre you sure?")</MudText>
            }
            else
            {
                <MudText>@($"\nUsunąć?")</MudText>
            }
        <MudButton Size="Size.Small" Color="Color.Error" Variant="Variant.Outlined" OnClick="@(()=>Delete())">@L["Delete"]</MudButton>
        <MudButton OnClick="@ToggleOpen" Class="ml-auto mr-n3 mb-1" Color="Color.Warning">Close</MudButton>
    </div>
</MudPopover>