@inject IStringLocalizer<LanguageService> L


<AuthorizeView>
    <Authorized>
        <a href="Identity/Account/Manage">@L["Hell"], @context.User.Identity.Name</a>
        <form method="post" action="Identity/Account/LogOut">
            <button type="submit">! @L["Log out"]</button>
        </form>
    </Authorized>
    <NotAuthorized>
        <MudItem Class="d-flex justify-space-between">
            <MudButton Link="Identity/Account/Register" Color="Color.Primary" Variant="Variant.Outlined">@L["Register"]</MudButton>
            <MudText Typo="Typo.h5">@L["Profile Match"]</MudText>
            <MudButton Link="Identity/Account/Login" Color="Color.Success" Variant="Variant.Outlined">@L["Log in"]</MudButton>
        </MudItem>
    </NotAuthorized>
</AuthorizeView>