  @if (Q.Category is null || Q is null || Q.AnswerOptions is null)
{
    <p>wait</p>
}
else
{
    <MudDialog>
        <DialogContent>
            <MudItem Class="pt-8"></MudItem>
            <MudTabs Outlined="true"
                 Position="Position.Top"
                 Rounded="true"
                 DisableSliderAnimation="true"
                 Border="true"
                 ApplyEffectsToContainer="true"
                 HideSlider=true
                 PanelClass="pa-6 d-block">
                @foreach (var level in _qAnswerOptions)
                {
                    <MudTabPanel Text="@level.Level.ToString()">

                        <MudItem>
                            <MudText Typo="Typo.subtitle1">@L["Level"] @level.Level.ToString()</MudText>
                            @if (ShareResource.IsEn())
                            {
                            <MudText Typo="Typo.subtitle2"
                                 @bind-Value="@level.Description">@level.Description</MudText>
                            }
                            else
                            {
                            <MudText Typo="Typo.subtitle2"
                                 @bind-Value="@level.Description">@level.DescriptionPl</MudText>
                            }
                        </MudItem>
                    </MudTabPanel>
                }
            </MudTabs>
        </DialogContent>
    </MudDialog>
    }
    <style>
    .mud-tab {
        min-width: 50px !important;
    }
    

.mud-tabs .mud-tabs-toolbar .mud-tooltip-root {
    border-right: 6px solid transparent;
    border-left: 6px solid transparent;
}


.mud-tab::before {/*::after is already used for ripple effect*/
    width: 0;
	content: "";
	position: absolute;
	bottom: 0;
	height: 2px;
	transition: width .2s cubic-bezier(.64,.09,.08,1);
}

.mud-tab.mud-tab-active::before {
	width: 50px !important;
	background: var(--mud-palette-primary);
}
  
</style>